* {
  box-sizing: border-box;
}

body {
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.game--img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-position: center;
  background-size: cover;
}

.game--bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.game {
  padding-left: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  position: relative;
  z-index: 3;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
}

.game--open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}

.game-container {
  text-align: center;
  position: relative;
}

.buttons {
  margin-top: -46px;
  position: relative;
  z-index: 2;
  display: flex;
}

.buttons div {
  max-width: 50px;
  min-width: 46px;
  flex-grow: 1;
  height: 46px;
  font-size: 20px;
  cursor: pointer;
  flex-grow: 1;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 600;
  border: 1px solid #333;
}

.notes-container {
  position: relative;
  height: 700px;
  width: 100%;
  overflow: hidden;
  background-color: #000;
}

.note {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: yellow;
  border-radius: 50%;
  top: 0;
  will-change: top;
  outline: none;
  z-index: 10;
}

[data-key="2"] {
  background-color: rgb(255, 156, 172);
}

[data-key="5"] {
  background-color: rgb(255, 156, 172);
}

[data-key="3"] {
  background-color: yellow;
}

[data-key="4"] {
  background-color: yellow;
}

[data-key="1"] {
  background-color: #fff;
}

[data-key="6"] {
  background-color: #fff;
}

.wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.metronom {
  position: absolute;
  z-index: 2;
  top: 50px;
  right: 100px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.metronom__item {
  background-color: #fff;
  width: 70px;
  height: 70px;
}

.metronom__item--active {
  background-color: rgb(33, 124, 33);
}

.music-timeline {
  position: absolute;
  bottom: 200px;
  width: 1400px;
  height: 5px;
  left: 100px;
  background: #9c9c9c;
  cursor: pointer;
}

.music-timeline .arrow {
  width: 2px;
  position: absolute;
  height: 20px;
  bottom: 3px;
  background-color: #000;
}

.music-second {
  position: absolute;
  bottom: -25px;
  color: #fff;
  font-size: 18px;
}

.bpm {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.note1, .note6 {
  background-color: #fff;
}

.note2, .note5 {
  background-color: rgb(255, 156, 172);
}

.note3, .note4  {
  background-color: yellow;
}

.active {
  background-color: #000;
  color: #fff !important;
  box-shadow: 1px -1px 66px 33px rgba(255, 255, 255, 0.26);
}

.music-controls {
  position: absolute;
  bottom: 100px;
  left: 50px;
  width: 1500px;
}

.input-music {
  width: 1500px;
}

.music-btns {
  display: flex;
  gap: 5px;
  align-items: center;
}

.music-btns button {
  padding: 0;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: block;
}

.music-btns .btn-speed {
  font-size: 16px;
  border: 1px solid #000;
  padding: 2px;
  width: 45px;
  font-weight: 500;
  color: #fff;
}

.timer {
  position: absolute;
  font-size: 56px;
  color: #fff;
  bottom: -11px;
  left: -100px;
  z-index: 43;
}

.menu {
  position: absolute;
  z-index: 3;
  max-width: 600px;
  width: 100%;
  right: 100px;
  top: 100px;
  bottom: 100px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  transition: .15s;
}

.menu--hide {
  transform: translateX(50%);
  opacity: 0;
}

.menu__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.menu img {
  width: 160px;
  clip-path: polygon(18% 0%, 100% 0%, 82% 100%, 0% 100%);
}

.menu__title {
  font-size: 50px;
  color: #fff;
  margin-left: 60px;
}

.menu__item {
  width: 540px;
  margin-left: auto;
  padding: 15px;
  display: flex;
  align-items: center;
  background: linear-gradient(79deg, rgba(255,69,12,1) 54%, rgba(250,193,163,1) 100%);
  gap: 20px;
  /* border: 2px solid orangered; */
  /* border-radius: 12px; */
  clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
  padding-left: 50px;
  cursor: pointer;
  transition: .2s ease;
}

.menu__item:hover {
  width: 600px;
}

.menu__item--seclected {
  width: 600px;
  position: relative;
  background: #5420d7;
}

.back-to-menu {
  border: none;
  cursor: pointer;
  position: absolute;
  left: -175px;
  top: -100px;
  padding: 15px;
  border-radius: 16px;
  font-size: 35px;
  max-width: 200px;
  color: #fff;
  text-align: center;
  background-color: #5420d7;
  transition: .2s ease;
}

.back-to-mnu:hover {
  background-color: #ff5e00;
}

.points-wrapper {
  position: absolute;
  top: -85px;
  left: 355px;
  font-size: 35px;
  white-space: nowrap;
}

.menu__btn {
  cursor: pointer;
  margin-left: 60px;
  padding: 15px;
  border-radius: 16px;
  font-size: 35px;
  max-width: 200px;
  color: #fff;
  margin-top: auto;
  text-align: center;
  background-color: #5420d7;
  transition: .2s ease;
  transform: translateY(20px);
  opacity: 0;
}

.menu__btn--show {
  transform: translateY(0px);
  opacity: 1;
}

.menu__btn:hover {
  background-color: #ff5e00;
}

.menu__item-title {
  font-size: 20px;
  line-height: 25px;
  color: #fff;
}

.menu__item-subtitle {
  color: #000;
  font-weight: 600;
}

.btn-start {
  position: absolute;
  bottom: 0px;
  z-index: 5;
  right: -150px;
  cursor: pointer;
  background: transparent;
  border: 2px solid orangered;
  color: #fff;
  padding: 5px 10px;
  font-size: 25px;
  transition: .15s;
}

.btn-start:hover {
  background-color: orangered;
}

.records {
  position: fixed;
  z-index: 2;
  top: 100px;
  left: 50px;
  max-width: 700px;
  width: 100%;
  opacity: 0;
  transform: translateX(-150px);
  visibility: hidden;
}

.records--show {
  transition: .2s ease;
  opacity: 1;
  transform: translateX(0px);
  visibility: visible;
}

.records__title {
  font-size: 50px;
  color: #fff;
  margin-bottom: 50px;
}

.records__item {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 20px;
  background-color: transparent;
  padding: 10px 10px 20px;
  border-bottom: 5px solid #5420d7;
  margin-bottom: 20px;
}

.records__item img {
  width: 120px;
  border-radius: 8px;
}

.records__item-content {
  max-width: 270px;
  flex-grow: 1;
}

.records__item-title {
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  margin-bottom: 10px;
}

.records__points {
  font-size: 17px;
  font-weight: 600;
  color: #ff5e00;
}

.number {
  font-size: 20px;
  font-weight: 600;
}

.menu__item-statistic {
  margin-left: auto;
  max-width: 200px;
  flex-grow: 1;
}

.item-statistic__hits {
  margin-top: 5px;
}
