* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
  flex-direction: column;
}

.game-container {
  text-align: center;
}

.buttons {
  margin-top: -46px;
  position: relative;
  z-index: 2;
  display: flex;
}

.buttons div {
  max-width: 50px;
  min-width: 46px;
  flex-grow: 1;
  height: 46px;
  font-size: 20px;
  cursor: pointer;
  flex-grow: 1;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 600;
  border: 1px solid #333;
}

.notes-container {
  position: relative;
  height: 700px;
  width: 100%;
  overflow: hidden;
  background-color: #000;
}

.note {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: yellow;
  border-radius: 50%;
  top: 0;

  will-change: bottom;
  outline: none;
  z-index: 10;
}

[data-key="2"] {
  background-color: rgb(255, 156, 172);
}

[data-key="5"] {
  background-color: rgb(255, 156, 172);
}

[data-key="3"] {
  background-color: yellow;
}

[data-key="4"] {
  background-color: yellow;
}

[data-key="1"] {
  background-color: #fff;
}

[data-key="6"] {
  background-color: #fff;
}

.wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.metronom {
  position: absolute;
  z-index: 2;
  top: 50px;
  right: 100px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.metronom__item {
  background-color: #fff;
  width: 70px;
  height: 70px;
}

.metronom__item--active {
  background-color: rgb(33, 124, 33);
}

.music-timeline {
  position: absolute;
  bottom: 200px;
  width: 1400px;
  height: 5px;
  left: 100px;
  background: #9c9c9c;
  cursor: pointer;
}

.music-timeline .arrow {
  width: 2px;
  position: absolute;
  height: 20px;
  bottom: 3px;
  background-color: #000;
}

.music-second {
  position: absolute;
  bottom: -25px;
  color: #fff;
  font-size: 18px;
}

.bpm {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.note1, .note6 {
  background-color: #fff;
}

.note2, .note5 {
  background-color: rgb(255, 156, 172);
}

.note3, .note4  {
  background-color: yellow;
}

.active {
  background-color: #000;
  color: #fff !important;
}